
<div class="modal-dialog modal-sm" role="document" style="width: 918px;">
  <%= form_for @role, url: create_role_path , remote: true do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add New Role</h4>
        </div>
        <div class="clearfix"></div>
        <div class="modal-body">
          <div class="clearfix"></div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.text_field :role_name ,class: "form-control"%>
              <%= f.hidden_field :role_status,value: true %>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
          <span class="uniq_msg unique_error"  style="display: none;font-size: 13px; font-weight: normal; color: red; margin-left: 18px">Company Name with this email already exists do you still want to continue</span>

          <span class="uniq_msg" id="email_uniq" style="display: none;font-size: 13px; font-weight: normal; color: red; margin-left: 18px">Company Name with this email already exists do you still want to continue</span>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <%= f.submit "Save", class: "btn btn-primary validation_btn"%>
        </div>

      </div>
  <%end%>
</div>